@media screen and (min-width: 480px) {
  .container {
    max-width: 458px;
  }
  .hw-strategy {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .hw-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .hw-team-background {
    margin-bottom: 72px;
  }
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-link {
  }
  .hw-team-list {
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 120px;
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 2);
    gap: 16px;
  }
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .social-media {
    margin-left: 166px;
    margin-top: 72px;
  }
  .social-media-item {
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .container-media {
  }
  .footer-title {
    margin-left: 80px;
  }
  .logo,
  .logo-link {
    margin-left: 155px;
  }
  .footer-form-wrap {
    flex-direction: column;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form {
  }
  .footer-form-btn {
    margin-top: 16px;
    margin-left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer-form-title {
    margin-top: 80px;
  }
}
